# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\FilesAll\workspace\problems\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
